<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>用户出借记录</title>

    <link rel="stylesheet" href="http://127.0.0.1:8080/css/index.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/css/bootstrap.min.css">

</head>




<body>

<div class="container-fluid" style="background-color: rgba(0, 1, 9, 0.14);height: 730px;padding-top: 50px;">


    <div class="row">
        <div class="col-xs-3 system-left">
            <ul>
                <li>
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/booksystem/allbook">借书</a>
                </li>
                <li>
                    <a href="/booksystem/huangshubook">还书</a>
                </li>
                <li>
                    <a href="/systembook/manager">增减/删除库存</a>
                </li>
                <li>
                    <a href="/systembook/userbooklog">出借记录</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">

            <div class="jumbotron" style="height: 590px;">
                <h2>用户出借记录</h2>

                <h3 th:if="${book_code}==608" style="color: #5cb85c;">
                    未登录用户, 所以系统不能为你开放借书记录的查看 !
                </h3>

                <div th:if="${book_code}==606">
                    <table class="table table-hover">
                        <tr>
                            <td># 书名</td>
                            <td># 借书时间</td>
                            <td># 规定时间</td>
                            <td># 超出时间</td>
                            <td># 罚款 元/天</td>
                            <td># 总罚款</td>
                            <td># 还书状态</td>
                            <td># 实际还书时间</td>
                        </tr>

                        <tr th:each="jieshu : ${JieShuLog}" th:attr="class=(${jieshu.bkID} + ' ' + ${jieshu.rdID} + ' '+ 'start_huanshu' + ${jieshu.jsStart})">
                            <td th:text="${jieshu.bkName}"># 书名</td>
                            <td th:text="${jieshu.dateJieShu}"># 借书时间</td>
                            <td th:text="${jieshu.dateHuanShu}"># 规定时间</td>
                            <td th:text="${jieshu.dateDay}"># 超出天数</td>
                            <td th:text="${jieshu.psFaKuangBaiFenLv}"># 罚款 元/天</td>
                            <td th:text="${jieshu.money}"># 总罚款</td>
                            <td th:if="${jieshu.jsStart}==1">
                                <div style="width: 10px;height: 10px;background-color: #5cb85c;border-radius: 5px;margin-left:10px;margin-top: 5px;"></div>
                            </td>
                            <td th:if="${jieshu.jsStart}==0">
                                <div style="width: 10px;height: 10px;background-color: indianred;border-radius: 5px;margin-left:10px;margin-top: 5px;"></div>
                            </td>
                            <td th:text="${jieshu.dateNowHuanShu}"></td>
                        </tr>

                    </table>


                    <!-- 分页主键 -->
                    <nav aria-label="Page navigation" style="margin-left: 400px;">
                        <ul class="pagination" >
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:each="length,lengthStart: ${book_length}">
                                <a th:text="${lengthStart.count}" th:attr="href=@{/systembook/userbooklog/}+${lengthStart.count}"></a>
                            </li>

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>


            </div>




        </div>

    </div>


</div>


<script src="http://127.0.0.1:8080/script/jquery-chajian-3.js"></script>
<script src="http://127.0.0.1:8080/script/bootstrap.min.js"></script>
<script src="http://127.0.0.1:8080/script/index.js"></script>
</body>












</html>